!!! 5
%html
  %head
		%title Companion Planting
    %link{href: "styles.css", rel: "stylesheet"}
  %body
    %header
      %container
      	%div.plot.1A
      	%div.plot.2A
      	%div.plot.3A
      	%div.plot.4A
      	%div.plot.5A
      	%div.plot.6A
      	%div.plot.7A
      	%div.plot.8A